includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: max
  paths:
    - src
  checkMissingIterableValueType: true
  checkMissingCallableSignature: true
  checkGenericClassInNonGenericObjectType: true
